
* {
	margin:0;
	border:0;
	padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
   font-family: 'Open Sans',sans-serif;
   font-size: 1em;
}

/* Layout */

.Container {
    margin: 0 auto;
    background-color: #77ff;
}


.Flex {
    display:Flex;
    justify-content: space-between;
    background-color: #a9a9a9;
}


/* Topo do Site*/

#topo {
    position: fixed;
    right: 20px;
    bottom: 10px; 
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

header {
    height: 60px;
}

#logo img {
    width:128px;
    height: 80px;
    margin-top: 20px;
}

#check {
    display:none;
}

label {
    font-size: 3em;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    background-color: #F1C40F;
    height: 100vh;
    position: fixed;
    top:60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

nav ul li {
    padding: 20px;
    border: 1px solid #fff;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color:#000;
}

#check:checked ~ ul {
    right: 0;
}
/* Smartphone  Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(min-width: 576px) {
    
    body{
        background-color: #0ff;
    }

    /* Layout */
    .Container {
        max-width: 540px;
    }
}
/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(min-width: 768px) {
    
    body{
        background-color: #F1C40F;
    }

     /* Layout */
     .Container {
        max-width: 720px;
    }

}
/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media(min-width: 992px) {
    
    body{
        background-color: #ff6600;
    }

     /* Layout */
     .Container {
        max-width: 960px;
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media(min-width: 1200px) {
    
    body{
        background-color: #51ff00;
    }

     /* Layout */
     .Container {
        max-width: 1140px;
    }

    header {
        height: 120px;
    }

    #logo img {
        width:259px;
        min-height: 189px;
        margin-top: 20px;
    }
}
